.dropdown{
    position: relative;
    display: inline-block;
}

.dropdown-context{
    display: none;
    position: absolute;
    background-color: black;
    color: white;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown:hover .dropdown-context{
    display: block;
}