@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*:focus,
*:active{
    outline: none;
    -webkit-tap-highlight-color: transparent;
}

html,
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    font-family: "Poppins", sans-serif;
    place-items: cen    ;
    background: linear-gradient(315deg, #8f3636, #d7e1ec);
}

.wrapper{
    display: inline-flex;
}

.wrapper .icon{
    position: relative;
    background: #ffffff;
    border-radius: 50%;
    margin: 10px;
    padding: 15px;
    width: 50px;
    height: 50px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius:50%;
    -webkit-transition: all 0.2s cubic-bezier(0.68, -0.55, 0.26, 1.55);
    -moz-transition: all 0.2s cubic-bezier(0.68, -0.55, 0.26, 1.55);
    -ms-transition: all 0.2s cubic-bezier(0.68, -0.55, 0.26, 1.55);
    -o-transition: all 0.2s cubic-bezier(0.68, -0.55, 0.26, 1.55);
}

.wrapper .tooltip{
    position: absolute;
    top: 0;
    font-size: 14px;
    background: #fff;
    color: #ffffff;
    padding: 5px 8px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    border-radius: 4px;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.26, 1.55);
    -webkit-transition: all 0.3s cubic-bezier(0.68, -0.55, 0.26, 1.55);
    -moz-transition: all 0.3s cubic-bezier(0.68, -0.55, 0.26, 1.55);
    -ms-transition: all 0.3s cubic-bezier(0.68, -0.55, 0.26, 1.55);
    -o-transition: all 0.3s cubic-bezier(0.68, -0.55, 0.26, 1.55);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

.wrapper .tooltip::before{
    position: absolute;
    content: "";
    height: 8px;
    width: 8px;
    background: #fff;
    bottom: -3px;
    left: 50%;
    transform: translate(-50%) rotate(45deg);
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.26, 1.55);
    -webkit-transform: translate(-50%) rotate(45deg) ;
    -moz-transform: translate(-50%) rotate(45deg);
    -ms-transform: translate(-50%) rotate(45deg);
    -o-transform: translate(-50%) rotate(45deg);
    -webkit-transition: all 0.3s cubic-bezier(0.68, -0.55, 0.26, 1.55);
    -moz-transition: all 0.3s cubic-bezier(0.68, -0.55, 0.26, 1.55);
    -ms-transition: all 0.3s cubic-bezier(0.68, -0.55, 0.26, 1.55);
    -o-transition: all 0.3s cubic-bezier(0.68, -0.55, 0.26, 1.55);
}

.wrapper .icon:hover .tooltip{
    top: -45px;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip{
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.1);
}

.wrapper .facebook:hover,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip::before{
    background: #3b5999;
    color: #fff;
}

.wrapper .twitter:hover,
.wrapper .twitter:hover .tooltip,
.wrapper .twitter:hover .tooltip::before{
    background: #46c1f6;
    color: #fff;
}

.wrapper .instagram:hover,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip::before{
    background: #e1306c;
    color: #fff;
}

.wrapper .youtube:hover,
.wrapper .youtube:hover .tooltip,
.wrapper .youtube:hover .tooltip::before{
    background: #e92828;
    color: #fff;
}